//===== Fonts ======
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

//===== Color ======
$color-accent: #d68240;
$color-bg-primary: #0a1316;
$color-bg-card: #10181b;
$color-bg-surface: #121a1d;
$color-bg-input: #182f31;
$color-text-primary: #ffffff;
$color-text-muted: #797b78;
$color-text-placeholder: #b2bbbb;

//===== Container ======
$container-size: 1440px;
